.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

@media (max-width: 768px) {
    .whole {
        width: 100%;
        margin-left: 15vh;
        margin-right: 10vh;
    }

    .search-icon-inp {
        left: 4.6vh;
    }

    .scrollable {
        margin-top: 10vh;
        width: 120vh;
    }

    .heading-container {
        margin-top: 40px;
    }

    .exclamation {
        left: 117vh;
        top: 27vh;
    }

    .question {
        top: -23vh
    }
}