.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

@media (max-width: 768px) {
    .whole {
        margin-left: 20px;
    }
}